body{
  background-color: lightgray;
  font-family:CaviarDreams;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  padding-bottom:15;
  position: relative;
}

footer{
margin-right: 5px;
/* position: fixed; */
bottom: 0;
text-align: center;
width:99%;
border-top: solid;
border-width: thin;
}
#pushFooter{
  flex:1 1 100%;
  padding-bottom: 22em;
}

