@font-face {
    font-family: CaviarDreams;
    src: url(../resources/CaviarDreams.ttf);
}

body{
  background-color: lightgray;
  font-family:CaviarDreams;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  padding-bottom:15;
  position: relative;
}
header{
  background-color:  #8c8c8c;
  flex:1 1 100%;
  padding: 0.3em;
  display: flex;
  flex-wrap: nowrap;
  border-bottom: solid;
  border-width: thin;
  margin-bottom: 0.3em;
}
header h2{
  flex:0 1 30%;
  margin-top: 1em;
}
#deco{
  flex:0 1 15%;
  margin-top: 2em;
  margin-left: 1em;

}
#nomUser{
  flex:0 1 5%;
  margin-left: 1em;
}

header form{
  display: flex;
  flex-wrap: wrap;
  flex:0 1 45%;
  /* border: solid; */
  margin-top: 0.5em;
  margin-right: 2em;
  /* margin-left: 1em; */
}
header #search{
  flex:0 1 auto;
  margin-top: 1em;
  margin-right: 2em;
}
header #profile{
  flex:0 1 auto;
  margin-top: 1.5em;
}
footer{
margin-right: 5px;
/* position: fixed; */
bottom: 0;
text-align: center;
width:99%;
border-top: solid;
border-width: thin;
}

div{
  flex:0 1 35%;
}
#pushFooter{
  flex:1 1 100%;
  padding-bottom: 22em;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;

}

th{
  background-color: gray;
}
td,tr,th{
  padding:1em;
}
#gauche,#droite{
  flex:0 1 10%;
}
section{
  flex:0 1 79%;
}

a, a:visited, a:focus{text-decoration: none; color:black }
input[type=submit] {
    padding:5px 15px;
    background:lightgray;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
input{
  font-family:CaviarDreams;
  font-weight:bold;
  font-size: 100%;

}
#valnote{
  background-color: white;
}
#retour{
  border-bottom: solid;
  border-width: thin;
}
#valnote:hover{
  background-color: gray;
}
#info{
  word-wrap: break-word;
}
