@font-face {
    font-family: CaviarDreams;
    src: url(../resources/CaviarDreams.ttf);
}

body{
  background-color: lightgray;
  font-family:CaviarDreams;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  padding-bottom:15;
  position: relative;

}
header{
  flex: 1 1 100%;
}
header h1{
  text-align: center;
}

#Inscription{
  background-color: gray;
  padding: 5px;
  margin: 5px;
  flex:0 0 39%;
  /* border-style: solid; */

}
#Resume h2{
  border-bottom: solid;
  border-width: thin;
}
#Connexion{
  background-color: gray;
  padding: 5px;
  margin: 5px;
  flex:0 0 39%;
  /* border-style: solid; */
}
div{
    flex:0 0 9%;
    /* background-color: BLACK; */
}
#Resume{
  flex:0 0 81%;
  text-align: center;
}
footer{
margin-right: 5px;
/* position: fixed; */
bottom: 0;
text-align: center;
width:99%;
border-top: solid;
border-width: thin;
}
#pushFooter{
  flex:1 1 100%;
  padding-bottom: 22em;
}

#erreur{
  color: red;
  font-weight: bolder;
  font-size: 120%;
}
input{
  font-family:CaviarDreams;
  font-weight:bold;
  font-size: 100%;

}
